@import '../../styles/variables.scss';

.otherDays{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  background: var(--color-bg-el);
  border-radius:var(--radius);
  box-shadow: var(--shadow);
  padding: 20px;
}
  


@media screen and (max-width: 760px) {
.otherDays {
	display: grid;
  grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 460px) {
.otherDays {
	display: grid;
  grid-template-columns: repeat(1, 1fr);
}
}