@import '../../styles/variables.scss';
.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader {
	border: 10px solid var(--color-bg-el);
	border-top: 10px solid var(--color-card);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
