@import '../../../styles/variables.scss';

.dayInfo {
	position: relative;
	padding: 20px;
	max-width: 450px;
	width: 100%;
	background: var(--color-bg-el);
	box-shadow: var(--shadow);
	border-radius: var(--radius);
}

.cloud {
	img {
		width: 80%;
		position: absolute;
		top: 0;
		right: 0;
		object-fit: cover;
		border-radius: var(--radius);
	}
}
