
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Nunito:wght@300;400;500;600;800;900&display=swap');

* {
  outline: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

.container{
  width: 100%;
  max-width:700px;
  margin: auto ;
  padding: 20px 0;
}

@media screen and (max-width: 760px) {
.container{
  width: 100%;
  max-width:400px;
}
}

@media screen and (max-width: 460px) {
.container{
  width: 100%;
  max-width:260px;
}
}


