@import '../../styles/variables.scss';

.header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	gap: 10px;
}

.leftBlock{
	width: 100%;
	display: flex;
	justify-content: space-between;

}

.wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

.logo {
	img {
		width: 40px;
	}
}

.logoTheme {
	img {
		width: 30px;
		margin-top: 7px;
	}
}

.title {
	font-weight: var(--fw-bold);
	font-size: var(--fs-md);
	color: var(--color-primary);
}

@media screen and (max-width: 460px) {
.header {
	flex-direction: column;	
}
.wrapper{
	justify-content: space-between;
	width: 67%;
}

.logoTheme {
	img {
		width: 38px;
	}
}
}
